.header-content {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.add-item {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.add-list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  background-image: linear-gradient(#dd9fea, rgb(226, 219, 226));
  width: 200px;
}

.add-card-item {
  background-color: #ece1ee;
  padding: 10px;
  border-radius: 4px;
}

.action-btns {
  display: flex;
  padding-top: 10px;

  > .primary-add-btn {
    background-color: rgb(153, 78, 223);
    margin-right: 5px;
    cursor: pointer;
    border: 0;
    color: white;
    line-height: 2;
    border-radius: 2px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  > .cancel-btn {
    cursor: pointer;
    border: 0;
    color: rgb(153, 78, 223);
    border-radius: 2px;

    &:hover {
      background-color: rgb(153, 78, 223);
      color: white;
    }
  }
}

.textarea-card {
  border-radius: 5px;
  width: 220px;
  max-width: 220px;

  &:focus {
    border: 1px solid #ba68c8;
    outline: none;
  }
}

.input-list {
  line-height: 2;
  border-radius: 5px;
  border: 0;

  &:focus {
    border: 1px solid #ba68c8;
    outline: none;
  }
}

.home {
  display: flex;
  flex: 1;
  flex-direction: row;
  color: #792d86;
  align-items: flex-start;
  width: 98%;
  padding: 10px;
  justify-content: flex-start;
  overflow: scroll;
  background: linear-gradient(#faf8fb, white);

  > .initial-home {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.list-container {
  display: flex;
  flex-direction: row;
}

.list-content {
  display: block;
  margin: 0px 10px 10px 0px;
  background: linear-gradient(#792d86, #c679d2);
  color: white;
  width: 250px;
  min-height: 50px;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;

  & .list-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    > h4 {
      min-width: 220px;
    }
  }

  & .card-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: #986d9f;
    margin-bottom: 10px;
    border-radius: 5px;

    & .pen {
      cursor: pointer;
      font-size: 13px;
    }
  }
}

.actions-icon {
  cursor: pointer;
}
