.modal-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50vh;
  height: 40vh;
  max-height: 50vh;
  overflow: scroll;
  background-image: linear-gradient(to bottom, #dca2e6, #e0dbe1);
  color: #7b1fa2;
  margin-top: 20vh;
  border: 0.1px solid #e3b8ec;
  border-radius: 25px;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 5vh;
  border-bottom: 1px solid #c9a1d1;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  > .title {
    color: #7b1fa2;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 20vh;
  padding: 25px 10px;
  align-items: center;
}

.modal-actions {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e3bfeb;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 5vh;
}

.primary-button {
  border: 0;
  border-radius: 5px;
  color: #7b1fa2;
  background-image: linear-gradient(white, #dd9fea);
  cursor: pointer;
  justify-content: center;
  padding: 8px;
  align-items: center;
  z-index: 5;
}

.secondary-button {
  border: 0;
  border-radius: 5px;
  color: #7b1fa2;
  background-image: linear-gradient(#dd9fea, white);
  cursor: pointer;
  justify-content: center;
  padding: 8px;
  align-items: center;
  z-index: 5;
}

.btn {
  cursor: pointer;
  line-height: 1;
  background: inherit;
  color: #7b1fa2;
  border: 0;

  :hover {
    background-color: #eeddf1;
    padding: 2px;
    border-radius: 2px;
  }
}

.custom-btn {
  line-height: 2.5;
  background-color: #ece1ee;
  border: 0;
  border-radius: 5px;
  min-width: 150px;
  text-align: left;
  color: #7b1fa2;
  align-items: center;
  cursor: pointer;

  > .custom-btn-title {
    margin-left: 10px;
  }
}

.popover {
  display: flex;
  flex-direction: column;
  z-index: 5;
  background: linear-gradient(#e1bee7, #e3d9e4) !important;
  color: #7b1fa2 !important;
  width: 250px;
  justify-content: center;
  padding: 10px 0px;
  border: 0.1px solid #e1bee7;
  border-radius: 5px;
  margin-top: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.popover-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;

  > .popover-title {
    margin-left: 30%;
    padding-bottom: 10px;
    font-weight: bold;
  }

  > .icon {
    justify-content: flex-end;
    cursor: pointer;
  }
}

.action-list {
  display: block;
  padding: 10px 5px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}
